<% include header.ejs %>

<div class="container-fluid">
  <div class="well jumbotron text-center">
    <h2>嗨, <%= user.username %>，好久不见</h2>
    <br>
    <p><a class="btn btn-primary btn-small" href="/logout" role="button">退出</a></p>

  </div>
  
</div>

<% include footer.ejs %>