<% include header.ejs %>

<div class="container-fluid">
  <div class="well jumbotron text-center">
    <h1><%= title %></h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p><br>
    <p><a class="btn btn-primary btn-small" href="/login" role="button">登录</a></p>
  </div>
  
</div>

<% include footer.ejs %>
